

@{
    List<object> Menuitems = new List<object>();
    Menuitems.Add(new
    {
        text = "General",
        separator = true,
    });
    Menuitems.Add(new
    {
        text = "Dashbord",
        url = "/",
        iconCss = "fa-solid fa-folder-closed",
    });

    Menuitems.Add(new
    {
        text = "Categores",
        url = "/Categories",
        iconCss = "fa-solid fa-box",
    });
    Menuitems.Add(new
    {
        text = "Transactions",
        url = "/Transaction",
        iconCss = "fa-solid fa-arrow-right-arrow-left",
    });
    Menuitems.Add(new
    {
        text = "Extra",
        separator = true,
    });
    Menuitems.Add(new
    {
        text = "Report",
        url = "#",
        iconCss = "fa-solid fa-chart-simple",
    });
    Menuitems.Add(new
    {
        text = "Setting",
        url = "#",
        iconCss = "fa-solid fa-gear",
    });
}
<ejs-sidebar id="sidebar" width="200px" enableDock dockSize="100px">
    <e-content-template>

        <div class="logo-wrapper">
            <div class="app-logo">
                <img class="profile-pic" src="~/3784312.png" />

            </div>
            <div class="w-100"></div>
            <i id="sidebar-toggler" class="fa-solid"></i>

        </div>
        <div class="profile-wrapper">

            <img class="profile-pic" src="~/snapchat-615093941.jpg" />
            <div class="titles d-flex flex-column ps-3">
                <h6 class="mb-0">Wallet App</h6>
                <span class="text-muted">Sudarshan Shetty</span>
            </div>

        </div>
        <ejs-menu id="menu" items="Menuitems" orientation="Vertical">

        </ejs-menu>
    </e-content-template>
</ejs-sidebar>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var dockBar = document.getElementById('sidebar').ej2_instances[0];
        document.getElementById('sidebar-toggler').onclick = function () {
            dockBar.toggle();
        };
    });
</script>

