<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  >

	<targets>
		<target name="logfile" xsi:type="File" fileName="logs/nlog_${shortdate}.nlog" />
		<target name="logdebugmssqldb" xsi:type="Database" 
			connectionString="Server=DESKTOP-QRDAN64\\SQLEXPRESS;Database=LoginNLogger; User Id=MyDataBase;Password=Shetty8892;  Trusted_Connection=True;MultipleActiveResultSets=true;"
			commandText="INSERT INTO AppLogs(Level,Logger,Env,CallAction,Message,Property1,Property2,AppDir,Username,CreatedOn) 
									VALUES (@level,@logger,'dev',@callSite,@msg,@property1,@property2,@appdir,@username,@datetime)">
					<parameter name="@level" layout="${level}" />		
					<parameter name="@logger" layout="${logger:shortName=True}" />		
					<parameter name="@callSite" layout="${callsite:includeNamespace=False:className=False} | ${callsite-linenumber}" />
					<parameter name="@msg" layout="${message}" />
					<parameter name="@property1" layout="${event-properties:item=property1}" />
					<parameter name="@property2" layout="${event-properties:item=property2}" />
					<parameter name="@appdir" layout="${basedir}" />
					<parameter name="@username" layout="${identity}" />
					<parameter name="@datetime" layout="${date}" />
		</target>
		<target name="logerrmssqldb" xsi:type="Database" 
			connectionString="Server=DESKTOP-QRDAN64\\SQLEXPRESS;Database=LoginNLogger; User Id=MyDataBase;Password=Shetty8892;  Trusted_Connection=True;MultipleActiveResultSets=true;"
			commandText="INSERT INTO ErrLogs(Level,Logger,Env,CallAction,Message,ErrorMessage,StackTrace,Exception,Username,CreatedOn) 
									VALUES (@level,@logger,'dev',@callSite,@msg,@errmsg,@trace,@exception,@username,@datetime)">
					<parameter name="@level" layout="${level}" />		
					<parameter name="@logger" layout="${logger:shortName=True}" />
					<parameter name="@callSite" layout="${callsite:includeNamespace=False:className=False} | ${callsite-linenumber}" />
					<parameter name="@msg" layout="${message}" />
					<parameter name="@errmsg" layout="${exception:format=message}" />
					<parameter name="@trace" layout="${stacktrace}" />		
					<parameter name="@exception" layout="${exception}" />
					<parameter name="@username" layout="${identity}" />
					<parameter name="@datetime" layout="${date}" />
		</target>
		<target name="logdevmssqldb" xsi:type="Database" 
			connectionString="Server=DESKTOP-QRDAN64\\SQLEXPRESS;Database=LoginNLogger; User Id=MyDataBase;Password=Shetty8892;  Trusted_Connection=True;MultipleActiveResultSets=true;"
			commandText="INSERT INTO DevLogs(Level,Logger,Env,CallAction,Tags,Params,Message,Username,CreatedOn) 
									VALUES (@level,@logger,'dev',@callSite,@tags,@params,@msg,@username,@datetime)">
					<parameter name="@level" layout="${level}" />		
					<parameter name="@logger" layout="${logger:shortName=True}" />		
					<parameter name="@callSite" layout="${callsite:includeNamespace=False:className=False} | ${callsite-linenumber}" />
					<parameter name="@tags" layout="${event-properties:item=tags}" />
					<parameter name="@params" layout="${event-properties:item=params}" />
					<parameter name="@msg" layout="${message}" />
					<parameter name="@username" layout="${identity}" />
					<parameter name="@datetime" layout="${date}" />
		</target>
		<!--<target name="logconsole" xsi:type="Console" />-->
	</targets>

	<rules>
		<!--<logger name="*" minlevel="Info" writeTo="logconsole" />-->
		<logger name="*" level="Trace" writeTo="logdevmssqldb" />
		<logger name="*" level="Debug" writeTo="logdebugmssqldb" />
		<logger name="*" minlevel="Info" writeTo="logfile" />
		<logger name="*" minlevel="Warn" writeTo="logfile" />
		<logger name="*" level="Error" writeTo="logerrmssqldb" />
		<logger name="*" minlevel="Fatal" writeTo="logfile" />
	</rules>
</nlog>